<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#ffffff">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="none">

<!-- Favicon -->
{{ with .Site.Params.favicon }}
<link rel="icon" href="{{ . | relURL }}">
{{ end }}

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">
{{ with .Site.Params.email }}<meta name="contact" content="{{ . }}">{{ end }}

<!-- SEO Verification Tags -->
{{ with .Site.Params.seo.googleSiteVerification }}
<meta name="google-site-verification" content="{{ . }}">
{{ end }}
{{ with .Site.Params.seo.bingSiteVerification }}
<meta name="msvalidate.01" content="{{ . }}">
{{ end }}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{ with .Site.Params.author }}<meta property="og:author" content="{{ . }}">{{ end }}
{{ if .IsPage }}
<meta property="article:author" content="{{ .Site.Params.author }}">
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ end }}
{{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">{{ end }}
{{ end }}

<!-- Twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
{{ with .Site.Params.seo.twitterHandle }}<meta property="twitter:site" content="@{{ . }}">{{ end }}
{{ with .Site.Params.seo.twitterHandle }}<meta property="twitter:creator" content="@{{ . }}">{{ end }}

<!-- Canonical URL -->
<link rel="canonical" href="{{ .Permalink }}">

<!-- RSS Feed -->
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- JSON-LD Structured Data -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ if .IsHome }}WebSite{{ else if .IsPage }}BlogPosting{{ else }}Blog{{ end }}",
  "name": "{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}",
  "url": "{{ .Permalink }}",
  "description": "{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"
  {{ if .Site.Params.author }},"author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
    {{ with .Site.Params.email }},"email": "{{ . }}"{{ end }}
  }{{ end }}
  {{ if .IsPage }},"datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
  {{ with .Lastmod }},"dateModified": "{{ .Format "2006-01-02T15:04:05Z07:00" }}"{{ end }}
  {{ with .Params.tags }},"keywords": [{{ range $i, $tag := . }}{{ if $i }}, {{ end }}"{{ $tag }}"{{ end }}]{{ end }}{{ end }}
}
</script>

<!-- Google Analytics -->
{{ with .Site.Params.seo.googleAnalytics }}
{{ if not .Site.IsServer }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ . }}', {
    anonymize_ip: {{ .Site.Privacy.googleAnalytics.anonymizeIP | default true }},
    respect_dnt: {{ .Site.Privacy.googleAnalytics.respectDoNotTrack | default true }}
  });
</script>
{{ end }}
{{ end }}

<!-- Stylesheets -->
{{ $style := resources.Get "css/main.scss" | css.Sass | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">