{{ define "main" }}
<div class="homepage">
    <div class="container">
        <div class="posts-by-year">
            {{ $posts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
            {{ range $posts.GroupByDate "2006" }}
            <section class="year-group">
                <h2 class="year-heading">{{ .Key }}</h2>
                <div class="posts-list">
                    {{ range .Pages }}
                        {{ partial "summary.html" . }}
                    {{ end }}
                </div>
            </section>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}